<title>Your Blog</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<link rel="stylesheet" href="/styles/blog.css" media="screen" title="no title" charset="utf-8">
<body class="theme-l5">


<!-- Navbar on small screens -->
<div id="navDemo" class="bar-block theme-d2 hide hide-large hide-medium large">
  <a href="#" class="bar-item button padding-large">Link 1</a>
  <a href="#" class="bar-item button padding-large">Link 2</a>
  <a href="#" class="bar-item button padding-large">Link 3</a>
  <a href="#" class="bar-item button padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="container content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="row">
    <!-- Left Column -->
    <div class="col m3 col-sm-3 quarter">
      <!-- Profile -->
      <div class="card round white">
        <div class="container">
         <h4 class="center">My Profile</h4>
         <p class="center"><img src="/w3images/avatar3.png" class="circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="card round">
        <div class="white">
          <button onclick="myFunction('Demo3')" class="button block theme-l1 left-align"><i class="fa fa-users fa-fw margin-right"></i> My Photos</button>
          <div id="Demo3" class="hide container">
         <div class="row-padding">
         <br>
           <div class="half">
             <img src="/w3images/lights.jpg" style="width:100%" class="margin-bottom">
           </div>
           <div class="half">
             <img src="/w3images/nature.jpg" style="width:100%" class="margin-bottom">
           </div>
           <div class="half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="margin-bottom">
           </div>
           <div class="half">
             <img src="/w3images/forest.jpg" style="width:100%" class="margin-bottom">
           </div>
           <div class="half">
             <img src="/w3images/nature.jpg" style="width:100%" class="margin-bottom">
           </div>
           <div class="half">
             <img src="/w3images/snow.jpg" style="width:100%" class="margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>

    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="col m9  col-sm-9 threequarter blogs-area">
    
      <div class="row-padding">
        <div class="col m12">
          <div class="card round white">
            <div class="container padding">
              <h6 class="opacity">Your Posts</h6>
              <form>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input class="border padding form-control" type="text" id="title">
                </div>

                <div class="form-group">
                  <label for="location">Location</label>
                  <input class="border padding form-control" type="text" id="location">
                </div>

                <div class="form-group">
                  <label for="body">Blog</label>
                  <textarea class="border padding form-control" rows="5" id="body"></textarea>
                </div>
                
                <div class="form-group">
                  <label for="img">Image URL</label>
                  <input class="border padding form-control" type="text" id="img">
                </div>

                <div class="form-group">
                  <label for="authorID">Author ID (test)</label>
                  <input class="border padding form-control" type="text" id="authorID">
                </div>

                <button type="click" class="button theme" id="submit-blog"><i class="fa fa-pencil"></i>  Post</button> 
              </form>
              
              {{!-- <h6 class="opacity">Your Posts</h6>
              <label for="title">Title</label>
              <p contenteditable="true" class="border padding" id="title"></p>
              <label for="location">Location</label>
              <p contenteditable="true" class="border padding" id="location"></p>
              <label for="body">Blog</label>
              <p contenteditable="true" class="border padding" id="body"></p>
              <label for="img">Image URL</label>
              <p contenteditable="true" class="border padding" id="img"></p>
              <label for="authorID">Author ID (test)</label>
              <p contenteditable="true" class="border padding" id="authorID"></p>

              <button type="button" class="button theme" id="submit-blog"><i class="fa fa-pencil"></i>  Post</button>  --}}
            </div>
          </div>
        </div>
      </div>
      
      {{#each blogs}}
        {{> blogs/blog-block}}
      {{/each}}
      
      
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("show") == -1) {
        x.className += " show";
        x.previousElementSibling.className += " theme-d1";
    } else { 
        x.className = x.className.replace("show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("show") == -1) {
        x.className += " show";
    } else { 
        x.className = x.className.replace(" show", "");
    }
}
</script>
