<!-- 
      End of main nav bar 
    -->  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>

      <form action="index.html" method="post">
      
        <h1>Login</h1>
        
        <fieldset>
          <label for="email">Email:</label>
          <input class="loginErrorp" type="email" id="email" name="user_email">
          
          <label for="password">Password:</label>
          <input class="loginErrorp" type="password" id="password" name="user_password">
        </fieldset>
        
        <button class="btn-login-login" id="login">Login</button>
      </form>
      