<div id="mainPage">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
          <div class="logo">
              
          </div>
        <h1>Plan your trip!</h2>
        <div class="clearfix mb-4" action="GET">
          <div class="group">
              <button id="flights">flights</button>
              <button id="hotels">Hotels</button>
              <button id="toDo">Things to do</button>
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
        </div>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>