<div class="row mx-auto" id="mainPage">
  <div class="offset-md-2 col-md-8 col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <!--
          <div class="logo-img" >
            <img src="/assets/img/temporary_logo.png">
          </div>
          -->
          <nav class="navbar navbar-expand-lg">
            <div class="d-flex flex-row-reverse bd-highlight collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item text-center">
                  <i class="far fa-user fa-sm"></i>
                  <div class="btn-group-toggle" data-toggle="buttons" href="blog.handlebars">
                    <label class="btn btn-secondary active">
                      <input type="checkbox" checked autocomplete="off"> Blog
                    </label>
                  </div>
                  <li class="nav-item text-center">
                    <i class="far fa-folder fa-sm"></i>
                    <div class="btn-group-toggle" data-toggle="buttons" href="ourteam.handlebars">
                      <label class="btn btn-secondary active">
                        <input type="checkbox" checked autocomplete="off"> Our Team
                      </label>
                    </div>
                  </li>
                  <li class="nav-item text-center">
                    <i class="far fa-address-card fa-sm"></i>
                    <div class="btn-group-toggle" data-toggle="buttons" href="login.handlebars">
                      <label class="btn btn-secondary active">
                        <input type="checkbox" checked autocomplete="off"> Login
                      </label>
                    </div>
                  </li>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End of main nav bar -->
          <form class="dropdown-menu p-4">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="remenberMe">
              <label class="form-check-label" for="check">Remember me </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
        <h1>Plan your trip!</h2>
          <div class="clearfix mb-4" action="GET">
            <div class="group">
              <button id="flights" href="https://www.expedia.com/">flights</button>
              <button id="hotels">Hotels</button>

            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="thingsToDo" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Things To Do
              </button>
              <div class="dropdown-menu" aria-labelledby="thingsToDo">
                <button class="dropdown-item" type="button" id="location">By Location</button>
                <button class="dropdown-item" type="button"></button>
                <button class="dropdown-item" type="button"></button>
              </div>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="othersUsers" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Others Users Travels
              </button>
              <div class="dropdown-menu" aria-labelledby="othersUsers">
                <button class="dropdown-item" type="button" id="othersUsers">Others Users Travels</button>
                <button class="dropdown-item" type="button"></button>
                <button class="dropdown-item" type="button"></button>
              </div>
            </div>

          </div>
          <!--
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        -->
      </div>
    </div>
  </div>
  <div class="footer">
    Copyright ©
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>