<div class="containerTeam">
    <div class="roow">
        <div class="offset-md-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <ul>
                <li class="team">
                    <h2 id="alex">Alex Dee</h2>
                    <img src="assets/img/Headshot2.jpg">
                    <a href="https://github.com/alexanderjdee">https://github.com/alexanderjdee</a>

                </li>
                <br>
                <li class="team">
                    <h2 id="yeiska">Yeiska de La Torre</h2>
                    <img src="assets/img/20150508_131455 (2).jpg">
                    <a href="https://github.com/Yeiska">https://github.com/Yeiska</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="roow">
        <div class="offset-md-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <ul>
                <li class="team">
                    <h2 id="gabriel">Gabriel Laporte</h2>
                    <img src="assets/img/Screenshot_2018-03-28-13-52-02-1fix1.jpg">
                    <a href="https://github.com/alexanderjdee">https://github.com/GcLaPorte</a>
                </li>
                <br>
                <li class="team">
                    <h2 id="debora">Debora Galeli</h2>
                    <img src="assets/img/DeboraGaleli.jpeg">
                    <a href="https://github.com/deboragaleli">https://github.com/deboragaleli</a>
                </li>

            </ul>
        </div>
    </div>
</div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>