<div class="containerTeam">
    <div class="roow justify-content-start">
        <div class="col-md-12 container fixed-width position-static">
            <ul>
                <li class="">
                    <h2 id="alex">Alex Dee</h2>
                    <img src="assets/img/Headshot2.jpg">
                    <a href="https://github.com/alexanderjdee">https://github.com/alexanderjdee</a>
                    <li class="">
                        <h2 id="yeiska">Yeiska de La Torre</h2>
                        <img src="assets/img/20150508_131455 (2).jpg">
                        <a href="https://github.com/Yeiska">https://github.com/Yeiska</a>
                    </li>
                    <li class="">
                        <h2 id="debora">Debora Galeli</h2>
                        <img src="assets/img/DeboraGaleli2.jpg">
                        <a href="https://github.com/deboragaleli">https://github.com/deboragaleli</a>
                        <br>
                        <li class="" id="grabriel">
                            <h2 id="gabriel">Gabriel Laporte</h2>
                            <img src="assets/img/Screenshot_2018-03-28-13-52-02-1fix1.jpg">
                            <a href="https://github.com/alexanderjdee">https://github.com/GcLaPorte</a>
                        </li>
                    </li>
                </li>
                <br>

            </ul>
        </div>
    </div>
    <div class="roow justify-content-start">
        <div class="col-md-8 container fixed-width position-static">
            <br>
            </ul>
        </div>
    </div>

</div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>