
    <!-- 
      End of main nav bar 
    -->  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>

      <form action="index.html" method="post">
      
        <h1>Sign Up</h1>
        <h2>Are you ready to start planning your dream travel? Sign Up today!</h2>
        
        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
          <label for="name">Name:</label>
          <input class="loginErrorp" type="text" id="name" name="user_name">
          
          <label for="email">Email:</label>
          <input class="loginErrorp" type="email" id="email" name="user_email">
          
          <label for="password">Password:</label>
          <input class="loginErrorp" type="password" id="password" name="user_password">
        </fieldset>
        
        <button class="btn-sign-up" id="signUp">Sign Up</button>
        <button class="btn-login" id="login">Login</button>
      </form>
      
<div class="footer">
    Copyright ©    
</div>