  
    <body>
      <div class="row">
        <div class="offset-sm-4 col-sm-12 col-md-4">
         <div class="container-welcome">
           <img class="logo-img img-fluid" src="assets/img/MediumSquareLogo.png" alt=""/>
              <p class="home-text">If you enjoy writing and traveling, then you are in the right place!
            Travel2Do will help you share your best travel stories and tips, discover new destinations and interact with new wanderlusters.</p>
            
              <a href="/mainPage" class="start-btn btn-secondary btn-lg">Start Your Journey Today!</a>
         </div> 
        </div> 
      </div>
    </body>  
      {{!-- <div class="row mx-auto">
        <!-- Move columns to the right using .offset-md-* class -->
          <div class="offset-md-2 col-md-8 col-sm-12">
          <div class="container-welcome">
          <div class="row">
            <!-- Grid -->
            <div class="col-md-12 col-sm-12">
              <img class="logo-img img-fluid" src="assets/img/MediumSquareLogo.png" alt=""/>
              <br />
              <a href="/mainPage" class="start-btn btn-secondary btn-lg">Start Your Journey Today!</a>
            </div>
          </div>
        </div> 
      </div>
    </div>
    </body> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
