    <div class="row mx-auto">
      <!-- Move columns to the right using .offset-md-* class -->
      <div class="offset-md-2 col-md-8 col-sm-12">
      <div class="container-welcome">
        <div class="row">
            <!-- Grid -->
            <div class="col-md-12 col-sm-12">
              <img class="logo-img img-fluid" src="assets/img/MediumSquareLogo.png" alt=""/>
              <br />
              <a href="/mainPage" class="start-btn btn-secondary btn-lg">Start Your Journey Today!</a>
            </div>
          </div>
        </div> 
      </div>
    </div>


    <div class="footer">
    Copyright ©    
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
