<div id="home-page">
  <div class="container1">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Get Ready To Start Your Journey!</h2>
          
          <button id="start" class="btn btn-primary float-right">Start Your Journey</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
