.list-group-item {
  line-height: 2.5;
}
/*  Start welcome.handlebars content */

/* Navigation bar */
.navbar navbar-expand-lg{
  margin-left: 600px;
}
.navbar {
  background-color: rgb(255, 255, 255, 0.4);
  
}

.navbar-brand {
  font-family: 'Nunito Sans', sans-serif;
  color: #FFF;
  font-size: 60px;
  margin-left: 40px;
}

.main-row {
  margin-left: 40px;
}

@media screen and (max-width: 630px) {
  .main-row {
    margin-left: 0;
  }
}

.navbar-nav {
  font-family: 'Passion One', cursive;
  font-size: 30px;
  margin-right: 150px;
  
}
 
.nav-item {
  display: block;
  margin-top: -8px;
  margin-left: 7px;
}

.nav-logo {
  width: 87px;
}

a {
  color: #fff;
}
/*
* — Hover State —
*/
a:hover {
  color: #D3D3D3;
}

label, input{
  align-items: center;
  margin-left: 20px;
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
label{
  color: #D3D3D3;
}

body {
  background-image: url("../styles/img/hp-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container-welcome {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 40px auto;
  box-sizing: border-box;
  text-align: center;
  width: 455px;
  padding: 20px;
  font-weight: bold;
  padding-bottom: 50px;
}

.container-welcome img {
  width: 200px;
}

.containerTeam img {
  max-height: 200px;
}

.team{
  width: 200px;
  height: 278px;
}

.team{
  width: 200px;
  height: 278px;
}

.logo-img {
  max-width: 450px;
  margin-bottom: 0px;
  margin-left: 0px;
  max-height: 58%;  
  border-radius: 50px 20px;
}

/* Menu buttons */
.btn {
  background-color: #7b7a7e !important;
  font-family: 'Nunito Sans', sans-serif;

}

.home-text {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  margin-bottom: 50px;
}

/* "Start your Journey Today!" button */
.start-btn {
  height: 51px;
  width: 290px;
  background-color: #b58947;
  padding: 20px;
}

.start-btn:hover {
  text-decoration: none;
}

.footer {
  background-color: #7b7a7e;
  border-top: 1px solid #DDDDDD;
  text-align: center;
  color: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-top: 0px;
  z-index: 1;
}

#search input {
  background: #f0f0f0f0;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  padding-left: 15px;
  color: #333;
}

#search button {
  border-radius: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* End welcome.handlebars content */

/* Start mainPage.handlebars content */

h6 {
  font-family: 'Nunito Sans', sans-serif;
  color: #3270a8;
}
#flights-hotels {
  background-color: rgb(35,103,157);
  padding: 90px;
}

.btn-flights.btn-secondary, .btn-hotels.btn-secondary {
  float: left;
  padding: 11px 91px 13px 50px;
  color: #FFF;
  background-color: #993300;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 48%;
  border: 1px solid #bca968;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-left: 5px;
}

.btn-hotels {
  float: right;
}

.container-plan-your-trip {
  margin-top: 75px;
}

#best-icons {
  background-color: rgb(47,185,231);
  padding: 90px;
}

#best-icons h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 45px;
  padding: 20px;
}

#ideas {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 66px;
  padding: 20px;
}

.laptop-icon {
  width: 49px;
}

.airplane-icon {
  width: 49px;
}

.travel-icon {
  width: 49px;
}

.read-reviews {
  background-image: url(/assets/img/patternbg-mainpage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}

#search {
  background-color: #FFFF;
  padding: 90px;
}

.search-blogger, .search-todo {
  font-family: 'Amatic SC', cursive;
  font-size: 61px;
}

/* Start register.handlebars content */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.global {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

/* Sign Up form */
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
#debora, #gabriel, #alex, #yeiska{
  width: 200px;
}
#yeiska{
  float: right !important;
}

.plan {
  margin: 0 10px 30px 30px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #FFFF;
}

.tellus {
  font-size: 18px;
  margin: 0 0 30px 0;
  text-align: center;
  color: #FFFF; 
}

/* User input info */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.btn-sign-up {
  float: left;
  padding: 11px 39px 13px 39px;
  color: #FFF;
  background-color: #bca968;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 48%;
  border: 1px solid #bca968;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: -52px;
}

.btn-login {
  float: right;
  padding: 11px 39px 13px 39px;
  color: #FFF;
  background-color: #bca968;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 48%;
  border: 1px solid #bca968;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: -52px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #bca968;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

/* End register.handlebars content */

/* Start blog.handlebars style inside blog.css */

/* Start login.handlebars style inside blog.css */

.btn-login-login {
  display: block;
  margin: 0 auto; 
  padding: 11px 39px 13px 39px;
  color: #FFF;
  background-color: #bca968;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 48%;
  border: 1px solid #bca968;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: -52px;
}


.carousel-inner img {
  height: 450px;
}

.blog-img {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}